* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(250, 224, 228);
}

.container {
  width: 280px;
  height: 500px;
  margin: 30px auto;
}
.title_container {
  font-size: 25px;
  color: rgb(245, 181, 159);
  margin-bottom: 20px;
}
#card {
  border-radius: 25px;
}

.card-head {
  position: relative;
  height: 252px;
  background: #fa782e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}

.card-head img {
  width: 280px;
  border-radius: 5px;
  height: 252px;
}
.card-body {
  height: 255px;
  background: #fff;
  border-radius: 0 0 25px 25px;
  margin-bottom: 50px;
}

.product-title {
  padding: 20px 20px 90px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.product-price {
  position: absolute;
  background: #11e95b;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: -13px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}
